.find-me-bg {
    background: var(--primary-color);
    color: var(--black);
}

.find-me-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;    
}

.card-img img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}