.skills-bg {
    background-image: url('../img/skills-background.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.skills-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.grid h3 {
    font-size: var(--gap);
}